<div class="timeline-layout">
  <section class="user">
    <div class="_top">
      <div class="_info">
        <p class="_name">{{ user.name }}</p>
        <p class="_username">@{{ user.username }}</p>
      </div>
      <p class="_joint-date">Joined in {{formatDate user.joinDate day="numeric" month="long" year="numeric" }}</p>
    </div>

    <div class="_follows-count">
      <p class="_followers">
        <span>Followers</span>
        {{ count.followers }}
      </p>
      <p class="_following">
        <span>Following</span>
        {{ count.following }}
      </p>
    </div>

    {{#unless currentUserProfile}}
      <div class="_follow">
        <form action="/{{ user.username }}" method="post">
          
          {{#if follows}}
            <input type="hidden" name="action" value="UNFOLLOW">
            <input type="hidden" name="user" value="{{ user._id }}">
            <button class="default">
              Unfollow
            </button>
          {{else}}
            <input type="hidden" name="action" value="FOLLOW">
            <input type="hidden" name="user" value="{{ user._id }}">
            <button class="default">
              Follow
            </button>
          {{/if}}

        </form>
      </div>
    {{/unless}}

  </section>

  {{> timeline}}
</div>