<section class="timeline">
  <ol class="timeline-posts">
    
    {{#each posts}}
      <li class="timeline-post">
        <div class="_info">
          <a href="/{{ this.user.username }}" class="_user">
            {{ this.user.name }}
          </a>
          <a href="/{{ this.user.username }}" class="_username">
            @{{ this.user.username }}
          </a>
          <p class="_date"> - {{formatDate this.postDate day="numeric" month="long" year="numeric" }}</p>
        </div>
        <div class="_text">
          {{ this.text }}
        </div>
      </li>
    {{/each}}

  </ol>
</section>