<section class="page signin">
  <div class="form-panel">
    <img class="_logo" src="/images/logo.png">
    <p class="app-name">Pew</p>
    <p class="_sub">Sign In</p>

    <form action="/" method="POST" class="signin">

      {{#if error.auth}}
        <p class="form-error">{{ message.auth }}</p>
      {{/if}}
      
      <input type="hidden" name="action" value="SIGNIN">
      <div class="text-field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="{{ username }}">

        {{#if error.username}}
          <p class="field-error">{{ message.username }}</p>
        {{/if}}

      </div>
      <div class="text-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="{{ password }}">

        {{#if error.password}}
          <p class="field-error">{{ message.password }}</p>
        {{/if}}

      </div>
      <div class="_actions">
        <a href="/signup">Sign Up</a>
        <button class="default" type="submit">
          Sign in
        </button>
      </div>
    </form>
  </div>
</section>